body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f0f4;
}

button {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
  }
  

.container {
    text-align: center;
}

.titulo {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.label {
    color: #ff69b4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  

.texto {
    color: #ff69b4;
}

.imagen {
    display: none;
}